<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}-{{config.system.name}}</title>
  <link href="/resource/styles/jquery-ui/jquery-ui.min.css?v={{config.system.version}}" rel="stylesheet"/>
  <link href="/resource/styles/jquery-ui/jquery-ui.structure.min.css?v={{config.system.version}}" rel="stylesheet"/>
  <link href="/resource/styles/jquery-ui/jquery-ui.theme.min.css?v={{config.system.version}}" rel="stylesheet"/>
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <script src="/lib/jquery.js?v={{config.system.version}}"></script>
  <script src="/lib/jquery-ui.min.js?v={{config.system.version}}"></script>
  <script type="text/javascript">
        var appVersion = '{{config.system.version}}';
    </script>
  <script data-main="/localet.js?v={{config.system.version}}" src="/lib/require.js?v={{config.system.version}}"></script>
</body>
</html>